$primary: #081820;
$secondary: #76D1F0;
$strike: #ff4c30;
$citron: #E7FF00;
$ghost: #d2fbf7;
$cloud: #edf6fe;

// gradient colors
$gr-1: #eef0f7;
$gr-2: #f9fbfe;
$gr-3: #d7dbdd;

// neautrals from lightest to darkest
$neutrals: (
    1: #FFFFFF,
    2: #F3F3F3,
    3: #D8D8D8,
    4: #9D9D9D,
    5: #5D5D5D,
    6: #212121,
    7: #081820,
);