$spacer: 2em;

$breakpoints: (
  sm: 650px, //450 original
  med: 960px, //860 original
  lg: 1024px,
  xl: 1440px,
  xxl: 1920px,
);

$box-shadow: 0 0 .5em rgba(neutrals(1), .65);

$avi-sm: 80px;
$avi-med: 100px;
$avi-lg: 200px;

$poly14: polygon(
  49% 0%,
  70.5% 5%, 
  87.8% 19%, 
  97.5% 38.9%, 
  97.5% 61%, 
  87.8% 81%, 
  70.5% 95%,
  49% 100%, 
  27% 95%, 
  9.5% 81%, 
  0% 61%, 
  0% 39%, 
  9.5% 19%, 
  27% 5%
  );

$poly12: polygon(
  50% 0%,
  75% 6.7%,
  93.3% 25%,
  100% 50%,
  93.3% 75%,
  75% 93.3%,
  50% 100%,
  25% 93.3%,
  6.7% 75%,
  0% 50%,
  6.7% 25%,
  25% 6.7%
  );